# Home Lab 
Host bigbox
  hostname 192.168.1.38
  user alex
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519

Host mediasrv
  hostname 192.168.1.37
  user alex
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519

Host d7060
  hostname 192.168.1.33
  user alex
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519

Host hp17
  hostname 192.168.1.34
  user alex
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519

# Personal GitLab.com
Host gitlab.com
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519

# Private GitLab instance
Host rci-gitlab.msu.montana.edu
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519

# Personal Github
Host github.com
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519

