# Home Lab
Host d7060
  hostname 10.0.0.125
  user alex
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519

Host bigbox
  hostname 10.0.0.17
  user alex
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519

Host mediasrv
  hostname 10.0.0.15
  user alex
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519

Host hp17
  hostname 10.0.0.214
  user alex
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519

Host pve0
  hostname 10.0.0.36
  user root
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519

Host almavm
  hostname 10.0.0.247
  user alex
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519

# Personal GitLab.com
Host gitlab.com
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519

# Private GitLab instance
Host rci-gitlab.msu.montana.edu
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519

# Personal Github
Host github.com
  PreferredAuthentications publickey
  IdentityFile ~/.ssh/id_ed25519

